:root {
  --clr-neutral-999: hsl(255, 100%, 100%);
  --clr-neutral-100: hsl(0, 0%, 0%);

  --fontstack-system-sans: ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontstack-system-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;
  --fontstack-system-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: dark light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}

body {
  line-height: 1.5;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
  font-style: italic;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media only screen and (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}
